html, body {
    width: 100%;
    margin: 0px !important;
    padding: 0px !important;
}

* {
    font-family: "Ubuntu";
}

.content {
    width: 800px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    background: url("bg1.jpg") center;
    background-size: cover;
    width: 100%;
    height: 400px;
    margin-top: 0px;
    padding-top: 0px;
    position: relative;
}

.header {
    text-align: right;
    color: #ECECEC;
}

.header .inner_header {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    bottom: -260px; 
    padding: 15px;
}

.header h1 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.header h2.contact {
    margin-top: 10px;
    font-size: 14px;
}

.header .foto {
    display: none;
    width: 100px;
    height: 100px;
    background: black;
    float:right;
    margin-left: 10px;
}

img.project-figure-left {
    width: 280px;
    height: auto;
    float: left;
    margin-right: 20px;
    margin-left: 20px;
}

img.project-figure-right {
    width: 280px;
    height: auto;
    float: right;
    margin-right: 20px;
    margin-left: 20px;
}


.clear{
    clear: both;
}