<html>
    <head>
        <meta charset="UTF8">
        <title>$title$ - Igor Montagner academic website</title>
        <link rel="stylesheet" type="text/css" href="template/base.css">
        <head>
            <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu">
          </head>
    </head>
    <body><div class="header">

            <div class="inner_header">
                <div class="foto">...</div>
                <h1> Igor Montagner</h1>
                <h2 class="contact">igordsm _at_ gmail.com</h2>
            </div>
        </div>
        <div class="content">
            $body$
        </div>
    </body>
</html>